body {
    width: 536px;
    margin: auto;
    line-height:28px;
}

.navBar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;;
}
  
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu {
    float:right;
}

#blog {
    float: left;
}

#date {
    font-style: italic;
    color: gray;
}

span {
    font-style: italic;
}